.canvas {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('/img/tabuleiro.png');
    background-repeat: no-repeat;
}

.casa {
    /* border: 1pt solid red; */
    height: 80px;
    width: 80px;
    position: fixed;
}

.bita {
    background-image: url('/img/bita.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    width: 50px;
    position: fixed;
}

.pergunta {
    border: solid 1px black;
    margin: 200px auto;
    display: block;
    background-color: beige;
    display: grid;
}